:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-main-color: #ffffff;
  --background-light-color: #f5f4fa;
  --background-hero-color: #2f303a;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--background-main-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.list,
.filter-list,
.list-project {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  padding: 24px 0px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo span {
  color: #000000;
}

.head {
  margin-right: 93px;
}

.site-nav,
.header-page .container,
.way {
  display: flex;
  align-items: center;
}

.header-page a {
  display: block;
}

.site-nav .items,
.contact .items {
  margin-right: 50px;
}

.site-nav .items:last-child,
.contact .items:last-child,
.warranty .items:last-child,
.occupation .items:last-child,
.team .items:last-child {
  margin-right: 0px;
}

.site-nav a {
  padding: 32px 0px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus,
.contact a:hover,
.contact a:focus {
  color: var(--accent-color);
}

.header-link {
  position: relative;
  transition: color 250ms var(--timing-function);
}

.header-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -1.5px;

  transform: scaleX(0);
  transition: transform 250ms var(--timing-function);
}

.header-link:hover::after,
.header-link:focus::after {
  transform: scaleX(1);
}

.contact {
  display: flex;
  margin-left: auto;
}

.mail,
.tel {
  display: flex;
  align-items: center;
  padding: 32px 0px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}

a.mail:hover,
a.mail:focus,
a.tel:hover,
a.tel:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contact-svg {
  fill: currentColor;
  display: inline-block;
  margin-right: 10px;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.section-title {
  margin: 0px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.hero {
  background-color: var(--background-hero-color);
  padding-top: 202px;
  padding-bottom: 206px;
  margin-left: auto;
  margin-right: auto;

  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/herobackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 22px;

  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-link {
  padding: 10px 32px;
  min-width: 200px;
  outline: none;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
  background-color: var(--background-main-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  overflow: auto;

  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  height: 581px;
  max-height: 100vh;
  overflow-y: auto;
  z-index: 100;
  background-color: var(--background-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--background-main-color);
  transition: border 250ms var(--timing-function);
}

/* .modal-button:hover {
  border: 1px solid var(--accent-color);
} */

.modal-svg {
  transition: fill 250ms var(--timing-function);
}

.modal-button:hover .modal-svg {
  fill: var(--accent-color);
}

.form-request {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.request-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.request-field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.request-label {
  position: absolute;
  top: 50%;
  left: 40px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  transform: translateY(-50%);
  transition: transform 250ms var(--timing-function);
}

.request-field:focus-within .request-label {
  transform: translate(-40px, -38px);
}

.request-input:not(:placeholder-shown) + .request-label {
  transform: translate(-40px, -38px);
}

.request-input {
  display: block;
  width: 448px;
  height: 40px;
  padding-left: 40px;
  color: var(--primary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function),
    outline 250ms var(--timing-function);
}

.request-field:focus-within .request-input {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.request-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.request-field:focus-within .request-icon {
  fill: var(--accent-color);
}

.request-comment-field {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.request-comment-label {
  position: absolute;
  top: 10px;
  left: 12px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  transition: transform 250ms var(--timing-function);
}

.request-comment-field:focus-within .request-comment-label {
  transform: translate(-12px, -27px);
}

.request-comment-input:not(:placeholder-shown) + .request-comment-label {
  transform: translate(-12px, -27px);
}

textarea {
  resize: none;
}

.request-comment-input {
  display: block;
  padding-left: 12px;
  padding-top: 10px;
  width: 448px;
  height: 120px;
  color: var(--primary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function),
    outline 250ms var(--timing-function);
}

.request-comment-field:focus-within .request-comment-input {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.request-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.check-icon {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color 250ms var(--timing-function),
    border 250ms var(--timing-function);
}

.visually-hidden {
  position: absolute;
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.checkbox-input:focus + .check-icon {
  border-color: var(--accent-color);
}

.checkbox-input:checked + .check-icon {
  background-image: url("../images/whitecheck.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
}

.checkbox-text {
  margin-left: 7px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.conditions-link {
  color: var(--accent-color);
}

.request-btn {
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  cursor: pointer;
  color: var(--secondary-text-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.warranty,
.team,
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.warranty .list,
.occupation .list,
.team .list {
  display: flex;
}

.warranty .items {
  width: 270px;
  margin-right: 30px;
}

.warranty .items::before {
  content: "";
  display: block;
  height: 120px;
  max-width: 270px;
  margin-bottom: 30px;
  background-size: 65px 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-light-color);
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.warranty-plan {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.warranty-text {
  margin: 0px;
  font-size: 14px;
  line-height: 1.71;
}
.occupation {
  padding-bottom: 94px;
}

.occupation .section-title,
.team .section-title {
  margin-bottom: 50px;
}

.occupation .items {
  margin-right: 30px;
  line-height: 0px;
}

.occupation-thumb {
  position: relative;
}

.occupation-text {
  position: absolute;
  left: 0;
  bottom: 0;

  padding: 27px 0;
  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--secondary-text-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--background-light-color);
}

.team .items {
  width: 270px;
  margin-right: 30px;
  line-height: 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-main-color);
}

.team-name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-profile {
  padding: 30px;
}

.team-proff {
  margin-bottom: 28px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-icons {
  display: inline-flex;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-main-color);
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: var(--secondary-text-color);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-color);
}

.clients {
  background-color: var(--background-main-color);
}

.clients-icons {
  display: inline-flex;
  margin-top: 50px;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms var(--timing-function),
    border 250ms var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: baseline;
}

.box-footer-nav {
  margin-right: 70px;
}

.footer {
  background-color: var(--background-hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-link {
  transition: color 250ms var(--timing-function);
}

.footer a:hover,
.footer a:focus {
  color: var(--accent-color);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-footer .studio {
  color: var(--secondary-text-color);
}

.appeal-footer {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 20px;
}

.social-icons-footer {
  display: inline-flex;
}

.social-footer-item:not(:last-child) {
  margin-right: 10px;
}

.social-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.social-footer-svg {
  width: 20px;
  height: 20px;
  fill: var(--secondary-text-color);
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--accent-color);
}

.news-footer {
  margin-left: 93px;
}

.news-title {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.news-mail {
  margin: 0;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-hero-color);
  transition: border-color 250ms var(--timing-function),
    outline 250ms var(--timing-function);
}

.news-mail::placeholder {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.news-mail:focus-within {
  outline: var(--accent-color);
  border-color: var(--accent-color);
}

.news-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.news-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.address a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.adress-item {
  margin-bottom: 9px;
}

.footer .mobile {
  margin-bottom: 0px;
}

a.connection {
  color: var(--secondary-text-color);
}

.button {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;

  color: var(--title-text-color);
  background-color: var(--background-light-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.button.active {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.button:hover,
.button:focus {
  color: var(--secondary-text-color);
  outline: none;
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.activ-page {
  padding: 32px 0px;
  position: relative;
  color: var(--accent-color);
}

.activ-page::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.filter {
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid #ececec;
}

.filter-list {
  margin-top: 0px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-list .items {
  margin-right: 8px;
}

.filter-list .items:nth-last-child(-n + 1) {
  margin-right: 0px;
}

.list-project {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
  margin-top: 0px;
  margin-left: 0px;
}

.items-project {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 372px;

  line-height: 0px;
  background-color: var(--background-main-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.link-project {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}

.project-overlay {
  position: relative;
  overflow: hidden;
}

.cards-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--timing-function);
}

.link-project:hover .cards-overlay,
.link-project:focus .cards-overlay {
  transform: translateY(0);
}

.text-overlay {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-text-color);
}

.link-project:hover,
.link-project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.items-project:nth-child(3n) {
  margin-right: 0px;
}

.items-project:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-cards {
  padding: 20px 24px;
}

.progect-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.progect-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
